
<section class="detail" data-id="{{shop.Shop.shop_id}}">
  <nav class="navbar">
    <a href="#/faveslist" ><i class="fa fa-heart"></i></a><a href="#/"><i class="fa fa-home"></i></a>
  </nav>
  <div class="container">
  <div ng-repeat="shop in shops">
    <section class="box">
      <h6 class="shopname">{{shop.Shop.shop_name}}</h6>
   <h6 class="shoptitle">{{shop.Shop.title}}</h6>
    <img ng-src="{{shop.Shop.image_url_760x100}}" alt="" class="shopimage" /><button ng-click="addToFaves(shop)"><i class="fa fa-heart" ></i></button>
<h6 class="details">{{shop.Shop.policy_welcome}}</h6>
    </section>
  </div>
  </div>


  </section>


</section>
