<!-- <woody thing1="shop.Shop.image_url_" thing2="shopCtrl.addToFaves(shop)"  thing3=""></woody> -->


<nav class="navbar">
  <h1 class='shops'>Etsy</h1>
  <label class="searchbar"><input ng-model="searchText" placeholder="search by shop"></label>
  <a href="#/faveslist" ><i class="fa fa-heart"></i></a>
  <i class="fa fa-facebook-official"></i>
  <i class="fa fa-twitter"></i>
  <i class="fa fa-instagram"></i>

</nav>



<table id="shop.Shop.shop_id">
 <div class="container">
 <div ng-repeat="shop in shopCtrl.shops | filter:searchText">
   <section class="box">
     <img ng-src="{{shop.Shop.image_url_760x100}}" alt="" class="shopimage" />
       <i class="fa fa-heart" ng-click="shopCtrl.addToFaves(shop)"></i>
     <h6 class="shopname">{{shop.Shop.shop_name}}</h6>
     <button class="seedetails"><a href="#/shop/{{shop.Shop.shop_id}}">See Details</a></button>
   </section>
 </div>
 </div>
</table>
