
<nav class="navbar">
  <h1 class='shops'>Shops</h1>
  <label class="searchbar"><input ng-model="searchText"></label>


    <a href="#/faveslist" ><i class="fa fa-heart"></i></a>
</nav>


<!-- <div class="container">
  <section class="box"> -->
    <!-- <img ng-src="{{shop.Shop.image_url_760x100}}" alt="" class="shopimage" /><button ng-click="addToFaves(shop)"><i class="fa fa-heart" ></i></button> -->
    <!-- <h6 class="shopname">{{shop.Shop.shop_name}}</h6> -->
  <!-- <button type="text" class="seedetails"><a href="#/shop/{{shop.Shop.shop_id}}">See Details</a></button> -->

  <table id="shop.Shop.shop_id">

    <tr ng-repeat="shop in shops | filter:searchText">
      <td><h6 class="shopname">{{shop.Shop.shop_name}}</h6></td>
      <td><img ng-src="{{shop.Shop.image_url_760x100}}" class="shopimage" alt="" /><button ng-click="addToFaves(shop)"><i class="fa fa-heart" ></i></button></td>
      <td>  <button type="text" class="seedetails"><a href="#/shop/{{shop.Shop.shop_id}}">See Details</a></button></td>
    </tr>
  </table>
<!--
  </section>
</div> -->

<!-- <label class="searchbar">Search: <input ng-model="searchText"></label>
<table id="shop.Shop.shop_id"> -->
