body {
  // background-color: rgb(51, 138, 148);

  color: #e39057;
  font-family: 'Roboto';

}
.mainpage {
  text-align: center;
  font-size: 40px;
}
// .mainfavorites {
//   font-size: 30px;
//
// }
// .mainsearch {
//   font-size: 30px;
//
// }
a {
  text-decoration: none;
  margin: 20px;
  color: #e39057;
}
.shopname {
  font-size: 25px;
  width: 99%;
  display: inline-block;
  text-align: center;
padding: 0;
margin-top: 6px;
}
.shoptitle {
  font-size: 15px;
  margin: 0;

}
.shopimage {
  width: 99%;
  display: inline-block;
  border: 4px solid #e39057;
  margin: 0;
}

.container {
  width: 98%;

}

.box {
  display: inline-block;
  width: 29%;
  float: right;
  margin: 20px;
  margin-top: 50px;
  border: 6px solid #e39057;
  max-height: 200px;
  overflow: scroll;
     i {
      font-size: 20px;
    }
}
.seedetails {
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #e39057;
  border: 2px solid #f0debc;
  color: white;
  margin-top: -30px;
    margin-bottom: 68px;
    margin-left: 123px;
  a {
    color: white;
    font-size: 15px;
  }

}
.navbar {
  background-color: #f9f2e5;
  margin: 0;
  padding: 10px;
    h1 {
      text-align: center;
      font-size: 45px;
      display: inline-block;
    }
    input {
      padding: 10px;
      font-size: 10px;
      border-radius: 5px;
      border: 2px solid white;
      width: 25%;
      margin: 20px;
    }
    .fa-home {
      font-size: 34px;
      color: #e39057;
      margin: 0;

    }
    .fa-heart {
      font-size: 30px;
      color: #e39057;
      margin-left: 536px;

    }


    .search {
      padding: 10px;
      background-color: #e39057;
      border: 2px solid #f0debc;
      border-radius: 5px;
      margin: 10px;
      color: white;
    }
}
