body {
  color: #e39057;
  font-family: 'Roboto'; }

a {
  text-decoration: none;
  margin: 20px;
  color: #e39057; }

.shopname {
  font-size: 25px;
  width: 98%;
  display: block;
  text-align: center;
  padding: 0;
  margin-top: 6px; }

.shoptitle {
  font-size: 20px;
  margin: 5px;
  display: block; }

.shopdeets {
  margin: 10px;
  font-size: 15px; }

.shopimage {
  width: 100%;
  display: block;
  height: 30%;
  border-bottom: 2px solid #e39057;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.box {
  display: block;
  width: 29%;
  float: right;
  margin: 20px;
  margin-top: 50px;
  border: 2px solid #e39057;
  height: 200px;
  background-color: #f9f2e5;
  border-radius: 10px;
  overflow: scroll; }
  .box i {
    font-size: 20px; }
  .box .fa-heart {
    width: 15%;
    display: block;
    margin: 20px; }

.container {
  width: 98%; }

.seedetails {
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #e39057;
  border: 2px solid #f0debc;
  color: white;
  margin-top: -30px;
  margin-bottom: 68px;
  margin-left: 123px; }
  .seedetails a {
    color: white;
    font-size: 15px; }

.navbar {
  background-color: #f9f2e5;
  margin: 0;
  padding: 20px; }
  .navbar h1 {
    text-align: center;
    font-size: 40px;
    display: inline-block;
    margin-left: 25px; }
  .navbar input {
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    border: 2px solid white;
    width: 25%;
    margin: 20px; }
  .navbar .fa-home {
    font-size: 34px;
    color: #e39057; }
  .navbar .fa-heart {
    font-size: 25px;
    color: #e39057; }
  .navbar .fa-facebook-official {
    margin-left: 620px; }
  .navbar i {
    font-size: 20px;
    margin: 2px; }
