<h1>Favorites</h1><a href="#/shoplist">Search by Shop</a><a href="#/">Home</a>

<section class="container">

<div class="pics">

<div class="eachpic"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus modi temporibus cum libero assumenda molestias officia fugiat quod, dignissimos sint, at est quo magnam eum quis quasi necessitatibus ullam dolor.</div>
<div class="eachpic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error commodi officia, libero. Asperiores iusto adipisci amet doloribus, at eum culpa quasi non unde ipsum veniam repellendus dicta inventore fuga nulla. </div>
<div class="eachpic"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga iste libero nam veniam modi quibusdam, officiis sint facere animi autem voluptatibus consequuntur dolorum, magnam dolor, veritatis alias odio a!</div>
<div class="eachpic"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quo perferendis nesciunt earum ea, sapiente accusantium, cupiditate explicabo voluptate a, sunt quam. Maiores asperiores expedita consectetur nemo minus, molestias deleniti.</div>
<div class="eachpic"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident iure, neque facere numquam animi dicta nam reiciendis eaque facilis, non repellendus ipsa? Autem voluptate odit eaque ab vero, soluta maiores?</div>
<div class="eachpic"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nam id fugiat doloremque fuga incidunt perspiciatis, dolores ut officiis quos? Quas expedita nisi delectus impedit iste ipsam cupiditate harum dolorem!</div>

</div>




</section>
