<h1>Favorites</h1><a href="#/shoplist">Search by Shop</a><a href="#/">Home</a>

<section class="container">

<div class="pics">

<div class="eachpic"> <img src="http://placecage.com/100/200" alt=""> </div>
<div class="eachpic"> <img src="http://placecage.com/100/200" alt=""></div>
<div class="eachpic"> <img src="http://placecage.com/100/200" alt=""></div>
<div class="eachpic"> <img src="http://placecage.com/100/200" alt=""></div>
<div class="eachpic"> <img src="http://placecage.com/100/200" alt=""></div>
<div class="eachpic"> <img src="http://placecage.com/100/200" alt=""></div>

</div>




</section>
