s

<nav class="navbar">
  <h1>Favorites</h1><a href="#/"><i class="fa fa-home"></i></a>
</nav>

 <div class="container">
<div ng-repeat="shop in faves">
  <section class="box">
    <img ng-src="{{shop.Shop.image_url_760x100}}" alt="" class="shopimage" />
    <h6 class="shopname">{{shop.Shop.shop_name}}</h6>
    <h6 class="shoptitle">{{shop.Shop.title}}</h6>
    <h6 class="shopdeets">{{shop.Shop.policy_welcome}}</h6>
    <button type="text" ng-click="removeFromFaves(shop._id)"  class="delete">DELETE THIS SHOP</button>

  </section>
</div>
</div>
